:root {
  --text: #6b6375;
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

:root {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #16171d;
  --border: #2e303a;
  --code-bg: #1f2028;
  --accent: #c084fc;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --accent-border: rgba(192, 132, 252, 0.5);
  --social-bg: rgba(47, 48, 58, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}

body {
  margin: 0;
  font-size: 32px;
  color: var(--text);
}

.button {
  font-size: 16px;
  padding: 5px 10px;
  box-shadow: 0 0 0.5em var(--accent);
  border-radius: 1em 0.5em;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  /*margin-bottom: 24px;*/

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.hero {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  img {
    width: 30vw;
  }
  h2::first-letter {
      text-transform: capitalize;
  }
}

.speech-bubble {
    background-color: var(--accent-border);
    color: var(--text);
    text-align: center;
    text-shadow: 0 0 1em var(--text-h);
    padding: 0.5em ;
    box-shadow: 0 0 0.5em var(--accent);
    border-radius: 3em 2em;
}

#app {
  height: 100vh;
  align-items: center;
  justify-content: start;
  display: flex;
  flex-direction: column;
  p {
    max-width: 80vw;
  }
}

